.leftside, .rightside{
  height:50vh;
  width: 100%;
}
.leftside{
  position: relative;

  background-image: url("public/playground_assets/bright12.png");

  background-size: cover;

}
.rightside{
  position: relative;
  overflow: hidden;


  background-image: url("public/playground_assets/darkimg.png");
background-size: cover;
}
@media screen and (min-width:768px) {
  .leftside, .rightside{
    height:100vh;

  }

}

/* Split the screen in half */
/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Control the left side */
/* .left {
  left: 0;
  background-image: url("public/playground_assets/bright12.png");

  background-size: cover;
} */

/* Control the right side */
/* .right {
  right: 0;
    background-image: url("images/darkimg.png");
  background-size: cover;



} */

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* html{
  height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
} */
/* .container {
  display: flex;
  height: 100vh;
  background-color: red;
}

.container .col {
  flex: 1;
  height: 100%;
}

.container .col:nth-child(2)
{
  background-color: blue;
} */



/* body{
  border-width: 20px;
  border-color: black;
} */

.whitelink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 1;
  }
  .darklink {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
      z-index: 1;
    }


.l-a-n-d-i-n-g-p-a-g-e-container {
  /* min-height: 100vh; */
  width: 100%;

}
.white{
  width: 50%;
    position: absolute;
text-align: left;


}
.black{

  width: 50%;
  text-align: right;




}
/* .blackbody{
  position: absolute;
} */
.l-a-n-d-i-n-g-p-a-g-e-l-a-n-d-i-n-g-p-a-g-e {
  width: 100%;
  height: 850px;
  overflow: hidden;
  position: relative;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 600px) {
  .l-a-n-d-i-n-g-p-a-g-e-l-a-n-d-i-n-g-p-a-g-e {
    position: static;

  }

  .white{
    width: 100%;
    height: 50%;
    position: relative;
  }
  .black{
      position: relative;
    width: 100%;
    height: 50%;
}
.l-a-n-d-i-n-g-p-a-g-e-i-m-a-g-e21 {
  left:0% !important;
  min-width: 100%;
  height: 50%;
  position: relative;
  border-color: transparent;
}

}


.l-a-n-d-i-n-g-p-a-g-e-i-m-a-g-e21 {
  /* left:20%;
  max-width: 80%; */
  height: 100%;
  right: 0;
  position: absolute;
  border-color: transparent;
  transition: .5s ease;
}

.blur {
  left:20%;
  max-width: 80%;
  height: 100%;
  position: absolute;
  border-color: transparent;

}

.black:hover .l-a-n-d-i-n-g-p-a-g-e-i-m-a-g-e21{
filter: blur(6px);
}
.black:hover .l-a-n-d-i-n-g-p-a-g-e-w-h-i-t-e-l-o-g-o01011{
top:10%;
transition: .5s ease;
}

.black:hover .l-a-n-d-i-n-g-p-a-g-e-text2{
top:75%;
transition: .2s ease;
font-weight: 900;
font-size: 32px;

}


.white:hover .l-a-n-d-i-n-g-p-a-g-e-i-m-a-g-e11 {
  filter: blur(6px);

}
.white:hover .l-a-n-d-i-n-g-p-a-g-e-b-l-a-c-k-l-o-g-o011{
top:9%;
transition: .4s ease;
}
.white:hover .l-a-n-d-i-n-g-p-a-g-e-text{
  top:58%;
  transition: .3s ease;
  font-weight: 900;
  font-size: 32px;


}


.l-a-n-d-i-n-g-p-a-g-e-i-m-a-g-e11 {

  top: 0;

  max-width: 100%;
  height: 1099px;
  border-color: transparent;
  transition: .5s ease;
}
.bright{
  top: 0;

  max-width: 100%;
  height: 1099px;

  position: absolute;
  border-color: transparent;

  transition: .5s ease;


  opacity: 1;

}
.l-a-n-d-i-n-g-p-a-g-e-w-h-i-t-e-l-o-g-o01011 {
  top: 25%;

  width: 100%;

  position: absolute;
  border-color: transparent;
}

.l-a-n-d-i-n-g-p-a-g-e-b-l-a-c-k-l-o-g-o011 {
  top: 12%;
  left: 0px;
  width: 100%;
  height: 780px;
  display: flex;
  position: absolute;
  border-color: transparent;
  background-size: cover;

  background-position: center;
}
.l-a-n-d-i-n-g-p-a-g-e-text {
  /* top: 848px;
  left: 313px; */
  top: 62%;
  /* left: 30%; */
  width: 100%;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Gilroy;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.l-a-n-d-i-n-g-p-a-g-e-text2 {
  /* top: 848px;
  left: 1299px; */
  top: 80%;
  /* left: 70%; */
  width: 50%;
  color: rgba(255, 255, 255, 1);
  height: auto;
  /* position: absolute; */
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Gilroy;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
