.leftside, .rightside{
  height:50vh;
  width: 100%;
}
.leftside{

  background-image: url("public/playground_assets/bright12.png");

  background-size: cover;

}
.rightside{

  background-image: url("public/playground_assets/darkimg.png");
background-size: cover;
}
@media screen and (min-width:768px) {
  .leftside, .rightside{
    height:100vh;

  }

}

/* Split the screen in half */
/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Control the left side */
/* .left {
  left: 0;
  background-image: url("public/playground_assets/bright12.png");

  background-size: cover;
} */

/* Control the right side */
/* .right {
  right: 0;
    background-image: url("images/darkimg.png");
  background-size: cover;



} */

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* html{
  height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
} */
/* .container {
  display: flex;
  height: 100vh;
  background-color: red;
}

.container .col {
  flex: 1;
  height: 100%;
}

.container .col:nth-child(2)
{
  background-color: blue;
} */
